// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: red;
}

body {
 color: blue;
}

body {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

body {
    width: 300px;
    border: 25px solid red;
    padding: 25px;
    margin: 25px;
}
